/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Rosarivo:ital@0;1&display=swap');
@import url('https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #03071E   ;
  --secondary-color: #FFBA08 ;
  --accent1-color: #6A040F;
  --accent2-color: #E85D04;
  --secondary-color: #6A040F ;
  --accent1-color: #D00000;
  --accent2-color: #FAA307;

  /* change the values below to your chosen font(s) */
  --heading-font: "Germania One";
  --paragraph-font: "Rosarivo", Helvetica, sans-serif;


  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #9D0208;  /* headlines on a white background */ 
  --headline-color-on-color: #FFBA08; /* headlines on a colored background */ 
  --paragraph-color-on-white: #03071E; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FFBA08; /* paragraph text on a colored background */ 
  --paragraph-background-color: #03071E  ;
  --nav-link-color: #9D0208;
  --nav-background-color: #E85D04;
  --nav-hover-link-color: #03071E;
  --nav-hover-background-color: #FAA307;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: #FFBA08;
}
#logo {
  height: 500px;
  width:  500px;
}
img {
  display: block;
  margin: 0 auto;
<<<<<<< HEAD
  width: 100%;
=======
  display: block;
  width: 70%;
  height: 0 auto;
>>>>>>> 1f36eb014b68ea8fcc972392921cbcd1bc7e48a8
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary{
  background-color: var(--primary-color);
  color: var(--accent2-color)
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  margin:auto;
  list-style-type: none;
  display: flex;
  

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  margin:auto;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
  margin:auto;
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  margin:auto;
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.Block_1, .Block_2, .Block_3, .x {
  margin-right:auto;
  text-align: center;
  background-color: #FFBA08 ;
  color: #03071E;
}
p:nth-of-type(1) {
  text-align: center;
  margin-right:auto;
}
p:nth-of-type(2) {
  text-align: center;
  margin-right:auto;
}
p:nth-of-type(3) {
  text-align: center;
  margin-right:auto;
}
#my_name {
  text-align: center;
}

section {
  /* This is the parent of the activity 1 boxes. */
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}
.tools_block_one { 
  word-wrap: break-word;
  position: 3/3;
  width: auto; 
  height: auto; 
  text-wrap: balance;
  /* background-color: green; */

} 
.tools_block_two {
  word-wrap: break-word;
  grid-column: 0/3;
  width: 800px; 
  height: auto; 
  /* background-color: red; */

}
<<<<<<< HEAD
=======
#p2 {
  height: 500px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
/*Week 12 web component*/
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
>>>>>>> 1f36eb014b68ea8fcc972392921cbcd1bc7e48a8

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

#page_1_pic {
  width: 100%;
}

